body{
    background-color: blueviolet;
}
h1{
    background-color: aqua;
}
 .handing {
    font-family: 'Franklin Gothic Medium';
 }
 #demo{
    font-size: x-large;
 }
 *{
    background-color: brown;
 }
 h2:hover{
    color: bisque;
    font-size: 60px;
 }
p::first-letter{
    font-size: 60px;
}
.dhinesh {
   border: 25px;
   border-style:groove;
}
h1{
   background-image:url("images/ScorpioModelImage.jpg")
}
